In [46]:
import pandas as pd

In [47]:
df=pd.read_csv("data.csv", encoding="latin1")

/tmp/ipython-input-2071565333.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("data.csv", encoding="latin1")

In [48]:
df.head()

,stn_code,sampling_date,state,location,agency,type,so2,no2,rspm,spm,location_monitoring_station,pm2_5,date
0,150.0,February - M021990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",4.8,17.4,NaN,NaN,NaN,NaN,1990-02-01
1,151.0,February - M021990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,3.1,7.0,NaN,NaN,NaN,NaN,1990-02-01
2,152.0,February - M021990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.2,28.5,NaN,NaN,NaN,NaN,1990-02-01
3,150.0,March - M031990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.3,14.7,NaN,NaN,NaN,NaN,1990-03-01
4,151.0,March - M031990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,4.7,7.5,NaN,NaN,NaN,NaN,1990-03-01

In [49]:
x=df['no2']
x.shape

(435742,)

In [50]:
x = df['no2'].dropna().values
x.shape

(419509,)

In [51]:
x

array([17.4,  7. , 28.5, ..., 45. , 50. , 46. ])

In [52]:
import numpy as np

**Step 1:Transformation of x into z**

In [53]:
r=102317145
ar=0.05*(r%7)
br=0.3*((r%5)+1)
print(f"Using roll number: {r}")
print(f"Computed coefficient ar = {ar}")
print(f"Computed coefficient br = {br}")

Using roll number: 102317145
Computed coefficient ar = 0.0
Computed coefficient br = 0.3

In [55]:

z=x+ar*np.sin(br*x)
print("Transformed values:",z)

Transformed values: [17.4  7.  28.5 ... 45.  50.  46. ]

**Step 2:Learning parameters of the given probability density function using Method of
 Moments**

In [33]:
mean1 = np.mean(z)
variance = np.var(z)
lambda1 = 1 / (2 * variance)
c = np.sqrt(lambda1 / np.pi)

In [57]:
print("Estimated PDF Parameters:")
print("value of lambda:",lambda1)
print("value of mu:",mean1)
print("value of c:",c)

Estimated PDF Parameters:
value of lambda: 0.001460436525489001
value of mu: 25.809622897811263
value of c: 0.021560876239314918